:root {
    --color-fondo: hsl(0, 0%, 100%);
    --color-fondo-elevado: #9a9a9a;
    --color-texto:  oklab(0% 0 0);
    --color-texto-secundario: #9a9a9a;
    --color-acento: #5280ff;
    --color-borde: #2b2b2b;
    --fuente-principal: 'Inter', sans-serif;
    --fuente-display: 'Space Grotesk', sans-serif;

}


